@font-face {
    font-family: 'Caviar Dreams';
    src: url('../fonts/Caviar/CaviarDreams.ttf');
   
}
@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/Museo/MuseoSans-300.otf');
   
}

